@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}
.wrap {
  max-width: 500px;
  margin: 20px auto 0;
  padding: 20px 15px 18px;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fafbff;
}
